<h4>Temperature:</h4>
<div class="checkbox">
  <label class="h4"><input type="radio" id="kelvin" name="temp" value="k" (change)="setTemp(tempK.value)" #tempK [checked]="tempKelvin"> &deg;K </label>
</div>
<div class="checkbox">
  <label class="h4"><input type="radio" id="celsius" name="temp" value="c" (change)="setTemp(tempC.value)" #tempC [checked]="tempCelsius"> &deg;C </label>
</div>
<div class="checkbox">
  <label class="h4"><input type="radio" id="fahrenheit" name="temp" value="f" (change)="setTemp(tempF.value)" #tempF [checked]="tempFahrenheit"> &deg;F </label>
</div>
