<div *ngFor="let cityWeather of favCities | fromStorage:'fav'">

  <div class="panel panel-default">
    <div class="panel-body">
      <span class="h3 pull-left">{{ cityWeather.name }}</span>
      <div class="pull-right btn-group">
        <a class="btn btn-primary" (click)="toggleFav($event, cityWeather)"><span [class.glyphicon-star]="isFav" [class.glyphicon-star-empty]="!isFav" class="glyphicon"></span></a>
        <a class="btn btn-primary" (click)="toggleAdded($event, cityWeather)"><span [class.glyphicon-minus]="isAdded" [class.glyphicon-plus]="!isAdded" class="glyphicon"></span></a>
        <a [routerLink]="['/city/', cityWeather.id]" class="btn btn-primary pull-right">See details</a>
      </div>
    </div>
  </div>

</div>
