<div class="row clearfix">
  <div class="col-md-12">
    <form class="form-group clearfix" #searchForm="ngForm" (keyup)="filterCities($event, cityName.value, searchForm)" (submit)="findCities($event, cityName.value)" (reset)="resetInput()" novalidate>
    <div class="col-md-8">
      <input type="text" minlength="4" class="form-control" #cityName="ngModel" name="cityName" placeholder="Search" value="" ngModel validateSearch>
      <p class="help-block" *ngIf="cityName.errors && (cityName.dirty || cityName.touched)" >
        <span [hidden]="!cityName.errors.minlength" class="text-danger">
          City name must be at least 4 characters long.
        </span>
        <span [hidden]="!cityName.errors.invalidSearch" class="text-danger">
          You can use only English alphabet characters.
        </span>
      </p>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-info btn-block" [disabled]="search.length < 4 || cityName.errors">Find</button>
    </div>
    <div class="col-md-2">
      <button type="reset" class="btn btn-info btn-block">Reset</button>
    </div>
    </form>
  </div>
</div>
<div class="text-center" [class.hidden]="!isLoading"><div class="loader"></div></div>
