<div *ngIf="header.favourite">
  <city-card *ngFor="let cityWeather of favCities | fromStorage:'fav'" [cityWeather]="cityWeather" [temperature]="temperature"></city-card>
</div>

<div *ngIf="header.list">
  <city-card *ngFor="let cityWeather of addedCities | fromStorage:'list'" [cityWeather]="cityWeather" [temperature]="temperature"></city-card>
</div>

<div *ngIf="header.search">
  <city-search-bar #search [class.hidden]="isLoading"></city-search-bar>
  <div class="text-center" [class.hidden]="!isLoading"><div class="loader"></div></div>
  <city-card *ngFor="let cityWeather of ( weatherData | async ) | cityWeatherPipe:search.search" [cityWeather]="cityWeather" [temperature]="temperature"></city-card>
  <city-card *ngFor="let cityWeather of search.city | cityWeatherPipe:search.search" [cityWeather]="cityWeather" [temperature]="temperature"></city-card>
</div>

<div *ngIf="header.settings">
  <h4>Temperature:</h4>
  <div class="checkbox">
    <label class="h4"><input type="radio" name="temp" value="k" (change)="toggleTemp(tempK.value)" #tempK> &deg;K </label>
  </div>
  <div class="checkbox">
    <label class="h4"><input type="radio" name="temp" value="c" (change)="toggleTemp(tempC.value)" #tempC> &deg;C </label>
  </div>
  <div class="checkbox">
    <label class="h4"><input type="radio" name="temp" value="f" (change)="toggleTemp(tempF.value)" #tempF> &deg;F </label>
  </div>
</div>

